body {background-color: #00FFFC;
}
h1 {
  color: #000080;
  font-family: 'Snell Roundhand',  cursive;
  text-align: center;
}
a {
	position: absolute;
	right: 200px;
	top: 100px;
	color:#FFFFFF ;
	font-family: Verdana, sans-serif;
	text-shadow: 1px 1px 2px black, 0 0 1em red;
}
p {
  font-family: 'Snell Roundhand',  cursive;
  text-align: center;	
  text-decoration: underline;
  font-weight: bold;
}
.Pic {
	position: absolute;
	right: 40px;
	bottom: 15px;
}